<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>First App</title>
</head>
<body>
<form name="FirstApp">
<table>
<tr>
<td>First Name</td>
<td><input type="text" name="FirstName" required></td>
</tr>
<td>Last Name</td>
<td><input type="text" name="LastName" required></td>
</tr>

<tr>
<td>Gender</td>
<td><input type="radio" name="Gender">Male<input type="radio" name="Gender">Female</td>

</tr>
<tr><td>
<input type="submit" value="submit"/></td>
</tr>
</table>


</form>
</body>
</html>