<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Second App</title>
</head>
<body>
<form name="SecondApp">
<fieldset>
<table>
<tr>
<td>EmailAddress</td>
<td><input type="email" name="email" required></td>

</tr>


<tr>
<td>Payment Option</td>
<td><input type="radio" name="payment" value="Credit Card">Credit Card</td>
<td><input type="radio" name="payment" value="Debit Card">Debit Card</td>
<td><input type="radio" name="payment" value="Paypal">Paypal</td>
</tr>


<tr>
<td>Where did you hear about us?</td>
<td><select>
<option name="hear" value="none">None</option>
</select>
</tr>

<tr>
<td>Terms and Conditions</td>
<td><input type="checkbox" name="t&c" value="yes"></td>
</tr>

<tr>
<td><input type="submit" value="submit"></td>
</tr>

</table>


</fieldset>
</form>

</body>
</html>