<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Fourth App</title>
</head>
<body>

<form name="FourthApp" action="">

<fieldset>
<legend>A.Personal Information</legend>
<table>

<tr>
<td>Name</td>
<td><input type="text" name="name" ></td>
</tr>


<tr>
<td>Date of Birth</td>
<td><input type="date" name="dob" required></td>
</tr>

<tr>
<td>Intrest</td>
<td><input type="checkbox" name="intrest">Surfing Web</td>
<td><input type="checkbox" name="intrest">Reading books</td>
</tr>

<tr>
<td>Email</td>
<td><input type="email" name="email" required></td>

</tr>

<tr>
<td>Country</td>
<td><select>
<option name="country" value="phillipanse">Phillipanse</option>
</select></td>
</tr>


</table>
</fieldset>

<fieldset>
<legend>B. Rate your Website</legend>
<table>

<tr>
<td><input type="radio" name="rate">Its Great</td>
<td><input type="radio" name="rate">Its Good</td>
<td><input type="radio" name="rate">Its Fair</td>
<td><input type="radio" name="rate">Its Poor</td>

</tr>

</table>


</fieldset>
<fieldset>
<legend>C. Give us your comments to further improve the website</legend>
<table>

<tr>
<td><textarea name="comments"></textarea></td>
</tr>

</table>


</fieldset>
<table>
<tr>
<td>
Thank you for visiting</td>
</tr>

<tr>
<td><input type="submit" value="submit"></td>
<td><input type="reset" value="reset"></td></tr>
</table>

</form>

</body>
</html>