<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Third App</title>
</head>
<body>
<form name="ThirdApp" action="">
<table>
<tr><td><b>Form Here</b></td>
</tr>
<tr>
<td><font color='red'>* required Fields</font></td></tr>
<tr>
<td>
<hr>
</hr>
</td>
<td>
<hr>
</hr>
</td>
<td>
<hr>
</hr>
</td>
</tr>
<tr>
<td>Name</td>
<td><input type="name" name="name" placeholder="Name" required></td>

</tr>

<tr>
<td>Email</td>
<td><input type="email" name="email" placeholder="email" required></td>
</tr>

<tr>
<td>Website</td>
<td><input type="website" name="website" placeholder="website" required></td>
</tr>

<tr>
<td>Message</td>
<td><textarea name="message"></textarea></td>
</tr>

<tr>
<td><input type="submit" value="submit"></td>

</tr>

</table>

</form>
</body>
</html>