<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Fifth App</title>
</head>
<body>

<fieldset style="background-color:yellow" >


<em>Congragulations<br>You have completed the quiz now fill out the entry form below for your chance to win</br><b>Daily price of 95 Air miles reward miles and a grand prize of 9500 reward miles</b></em>

<form>


<table>
<tr>
<td>Entry Ballot (*Indicate required field)</td></tr>

<tr>
<td><input type="text" name="firstname" placeholder="FirstName" required></td>
<td><input type="text" name="lastname" placeholder="Lastname" required></td>
</tr>

<tr>
<td>Date of Birth :<input type="date" name="dob"></td><td><input type="number" name="phone" placeholder="Phone number" required></td>
</tr>

<tr><td><input type="email" name="email" placeholder="email address" required></td>
<td><input type="email" name="cemail" placeholder="confirm email address" required></td>
</tr>


<tr><td><input type="text" name="mailing" placeholder="Mailing address" required></td>
<td><input type="number" name="postcode" placeholder="Post code" required></td>
</tr>

<tr>
<td><select palceholder="Proviency/teritory">
<option>Proviency/teritory</option>
</select>
</td>

<td><input type="text" name="country" value="canada" palceholder="canada"> </td>
</tr>

<tr>
<td><select palceholder="Language">
<option>Language*</option>
</select>
</td>

<td><input type="number" name="airmilesnumber"  palceholder="Airmiles collector number"> </td>
</tr>

<tr>
<td>
Skil testing question*=(10*9)+(2*4)+3=
</td>
<td><input type="number" name="sktest">
</td>
</tr>

<tr>
<td><input type="checkbox" name="tc">I have read and agree the</br> <a>official t&c</a></td>
<td><input type="checkbox" name="trc">I confirm that all the information</br> provided are true and correct</td>
</tr>
<tr>
<td></td>
<td><input type="checkbox" name="mi">Yes i would like to receive</br> marketing information from shell</td>
</tr>

<tr>
<td><input type="submit" value="submit" style="background-color:red"></td>
</tr>
</table>
</form>




</fieldset>

</body>
</html>